.nav-button {
    border: none;
    background-color: transparent;
    color: var(--color-text);
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
    text-decoration: none;
    transform: scale(1.0);
}

.header-nav-mobile {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 80%;
    gap: 2em;
    opacity: 0;
}

.header-nav-mobile.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in 0.5s;
}

.header-nav-mobile.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out 0s;
}

.nav-button {
    font-size: var(--font-size-l);
}

.nav-button:hover {
    color: var(--color-hover);
}

.nav-button:focus {
    outline: none;
}

.nav-button.selected {
    color: var(--color-text);
    transform: scale(1.05);
    text-shadow: 0 0 1px currentColor;
}

.header-container {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-primary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo {
    height: 3em;
    object-fit: contain;
    opacity: 0;
}

.header-content {
    top: 0;
    z-index: 100;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em;
    height: 15vh;
}

.header-extender {
    height: 0vh;
    background-color: var(--color-primary);
    transition: height 1.0s ease;
}

.header-extender.extend {
    height: 85vh;
}

.visible {
    opacity: 1.0;
}

.header-nav {
    display: flex;
    align-items: center;
    padding-left: 1em;
    gap: 2em;
}

.language-selector {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; 
    background-color: transparent;
    color: var(--color-text);
    font-size: var(--font-size-l);
    border: none;
    transition: color 0.3s ease;
}

.language-selector:hover {
    color: var(--color-hover);
}

.language-selector:focus {
    outline: none;
}

.language-selector option {
    background-color: var(--color-primary);
    color: var(--color-text);
}


.hamburger {
  display: inline-block;
  height: 4em;
  margin-right: 1em;
  position: relative;
  
  a.main-nav-toggle {
    display: block;
    width: 28px;
    height: 1em;
    left: -2em;
    position: absolute;
    top: 25px;
    
    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      height: 0;
      border-bottom: 4px solid var(--color-text);
      width: 100%;
      left: 0;
      right: 0;
      transition: all ease-out 0.3s;
    }
    
    &:after {
      top: 100%;
    }

    i {
      display: block;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
      height: 4px;
      background-color: var(--color-text);
      width: 100%;
      position: absolute;
      top: 50%;
      transition: all ease-out 0.1s;
    }
    
    &.active-menu {
      &:after {
        transform: rotate(-45deg);
        transform-origin: center;
        top: 50%;
      }
      
      &:before {
        transform: rotate(45deg);
        transform-origin: center;
        top: 50%
      }
      
      i {
        opacity: 0;
      }
    }
  }
}