.container {
    position: relative;
    display: flex;
    height: 300px;
    width: auto;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.filter {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.filter.hoverede {
  opacity: 0.2;
}


.overlay {
    position: absolute;
    height: 25%;
    width: 100%;
    opacity: 0.9;
    transition: .5s ease;
    transform: translateY(400%);
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: var(--font-size-l);
    padding-inline: var(--space-s);

    display: flex;
    align-items: center; 
}

.overlay.hoverede {
    transform: translateY(300%);
}