.project-container {
    display: flex;
    flex-direction: column;
    max-height: 74vh;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    gap: 1rem;
}

.project-container > * {
    flex: 0 0 auto;
}

@media (min-width: 600px) {
    .project-container {
        overflow-x: scroll;
        overflow-y: hidden;
        flex-direction: row;
        white-space: nowrap;
    }
}